/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* my css  */
.block
{
  display: block;
}

body
{
  font-family: 'Playfair Display', serif;
}

nav ul
{
	list-style: none;
	display: flex;
	justify-content: space-around;
}

nav ul li a
{
	text-decoration: none;
}

.navfooter nav ul
{
	list-style: none;
	display: flex;
	justify-content: space-around;
}

.navfooter nav ul li a
{
	text-decoration: none;
	color: yellow;
}

.bgBlue
{
  background-color: #8cbeca;
}

.fontwhite
{
  color: #fff;
}

.font3
{
  font-size: 3em;
}

.font2
{
  font-size: 2em;
}

.font1
{
  font-size: 1em;
}

.bold
{
  font-weight: bold;
}

.padtopbot7
{
  padding: 7vh 0vw;
}

.padtopbot3
{
  padding: 3vh 0vw;
}

.pad5
{
  padding: 5vh 5vw;
}

.padleft5
{
  padding-left: 5vw;
}

.padbot2
{
  padding-bottom: 2vh;
}

.tcenter
{
  text-align: center;
}

.flex
{
  display: flex;
}

.column
{
  flex-direction: column;
}

.jaround
{
	justify-content: space-around;
}

pre code
{
background-color: #eee;
border: 1px solid #999;
display: block;
padding: 20px;
}
